@media screen and (max-device-width: 500px) {

  #bloc_page {
    min-width: 360px;
  }

  /* header */

  header {
    flex-direction: column;
  }

  header a {
    height: unset;
  }

  #logo_reservia {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    margin-left: 20px;
    width: 100%;
  }

  #ancre {
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0;
  }

  #ancre_ext {
    position: absolute;
    top: 25px;
    right: 5px;
  }

  #ancre_int {
    height: 50px;
    width: 100%;
    justify-content: center;
  }

  #ancre_int > * {
    width: 50%;
    justify-content: center;
  }

  .topline {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid #f2f2f2 2px;
  }

  .topline:hover {
    border-bottom: #0065fc solid 2px;
    border-top: white;
  }

  .topline a:hover {
    color: #0065fc;
  }

  /* nav */

  nav {
    margin: 0px 15px 0px 15px;
  }

  #text_barre {
    width: 100%;
  }

  #rechercher {
    width: 50px;
    border-radius: 10px 10px;
    margin-left: -10px;
  }

  .text_none {
    display: none;
  }

  #rechercher i {
    display: block;
    color: white;
  }

  #filtre {
    display: flex;
    flex-wrap: wrap;
  }

  #filtres {
    width: 300px;
  }

  .esp {
    margin: 1.5% 0%;
  }

  #info i {
    width: 25px;
  }

  /* main */

  #hebergements_et_populaire {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    column-gap: 3%;
  }

  /* section: hébergements */

  #hebergements {
    background-color: unset;
    border-radius: unset;
    padding: unset;
    margin: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
  }

  #hebergements h1 {
    margin-left: unset;
  }

  .def_heb {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px;
  }
  .def_heb a {
    width: 100%;
  }

  .image_heb {
    width: 97%;
    height: 114px;
  }

  #afficher_plus {
    padding-left: unset;
  }

  /* section: populaire */

  #populaire {
    border-radius: unset;
    margin: unset;
    width: 100%;
  }

  .titre_pop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 20px;
  }

  .def_pop {
    width: 90%;
    height: 145px;
    margin: 0px 20px;
  }

  .image_pop {
    width: 125px;
    height: 135px;
  }

  /* section: activités */

  #activites h1 {
    margin: 60px 0px -20px 20px;
  }

  #activiter_placement {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #activites article {
    height: 190px;
    width: 100%;
    margin-bottom: 10%;
    box-shadow: 0px 5px 5px #f2f2f2;
    background-color: white;
  }

  #activites img {
    height: 135px;
    width: 100%;
  }

  /* footer */

  footer {
    padding: 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
