@font-face {
    font-family: raleway;
    src: url(raleway/Raleway-VariableFont_wght.ttf);
}
#bloc_page
{
    font-family: raleway;
    max-width: 1200px;
    font-size: 1em;
    margin: auto;
}
/* header */

/* nav */

/* main */

/* section: hébergements */

/* section: populaire */

/* section: activités */

/* footer */