@font-face {
    font-family: raleway;
    src: url(raleway/static/Raleway-Regular.ttf);
}
#bloc_page
{
    font-family: raleway;
    max-width: 1440px;
    font-size: 1em;
    margin: auto;
    /* cadre provisoir */
    border: solid 3px black;
}

/* header */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 60px 0px 50px;
}

header > * 
{
    height: 100%;
}

#logo_reservia
{
    display: flex;
    align-items: flex-end;
}

header ul
{
    list-style-type: none;
    display: flex;
    column-gap: 65px;
    padding-bottom: 20px;
}

header li 
{
    display: flex;
    align-items: flex-end;
}

header li:hover
{
    border-top: #0065fc solid 5px;
}

header a
{
    text-decoration: none;
    color: black;
}

header a:hover
{
    color: #0065fc;
}

#inscription
{
    color: #0065fc;
    font-weight: bold;
}

/* nav */

nav
{
    padding: 20px 50px 0px 50px;
}
nav h1
{
    font-weight: bold;
    font-size: 22px;
}

#barre_recherche
{
    display: flex;
    justify-content: baseline;
}

#barre_recherche > *
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pointeur
{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

#barre
{
    height: 50px;
    width: 230px;
    display: flex;
    align-items: center;
    border: solid 2px #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

#rechercher
{
    color: white;
    background-color: #0065fc;
    font-weight: bold;
    height: 50px;
    width: 130px;
    border-radius: 0px 10px 10px 0px;
}

#filtre
{
    display: flex;
    column-gap: 40px;
    height: 42px;
    font-size: 17px;
}

#filtre > *
{
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.esp > *
{
    padding-right: 17px;
    padding-left: 17px;
}

.esp i
{
    font-size: 18;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100px/100px;
    height: 100%;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#economique
{
    border: solid 3px #f2f2f2;
    border-radius: 100px/100px;
}

#familial
{
    border: solid 3px #f2f2f2;
    border-radius: 100px/100px;
}

#romantique
{
    border: solid 3px #f2f2f2;
    border-radius: 100px/100px;
}

#animaux_autorises
{
    border: solid 3px #f2f2f2;
    border-radius: 100px/100px;
}

#info
{
    display: flex;
    align-items: baseline;
    column-gap: 13px;
}

#info i
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border: solid 2px #f2f2f2;
    border-radius: 100px/100px;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

/* main */

.etoile
{
    color: #f2f2f2;
    display: flex;
    flex-wrap: nowrap;
}

.etoile_pleine
{
    color: #0065fc;
    letter-spacing: -0.12em;
}

a, p
{
    text-decoration: none;
    color: black;
}

#hebergements_et_populaire
{
    display: flex;
    justify-content: space-between;
}

/* section: hébergements */

#hebergements
{
    background-color: #f2f2f2;
    border-radius: 10px 10px;
    width: 820px;
    height: 610px;
    padding: 20px 30px;
    margin: 30px 0px 0px 50px;
}

#hebergements h1
{
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 15px;
}

#sous_section_heb
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.def_heb
{
    background-color: white;
    border-radius: 10px 10px;
    width: 245px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 20px 15px;
    line-height: 0.5em;
    box-shadow: 0px 0px 10px #c4c4c4;
}

.image_heb
{
    width: 235px;
    height: 114px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px 10px 0px 0px;
    margin: 5px 5px 0px 5px ;
}

.image_heb img
{
    display: none;
}

.info_heb
{
    margin-left: 15px;
    line-height: 0.4em;
}

.info_heb h2
{
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.info_heb p
{
    font-size: 0.85em;
}

.info_heb i
{
    font-size: 0.75em;
}

#afficher_plus
{
    color: black;
    font-weight: bold;
}

/* section: populaire */

#populaire
{
    background-color: #f2f2f2;
    border-radius: 10px 10px;
    width: 420px;
    height: 650px;
    margin: 30px 50px 0px 0px;
}

.titre_pop
{
    margin: 20px 40px 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.titre_pop i
{
    font-size: 1.5em;
}

.def_pop
{
    background-color: white;
    border-radius: 10px 10px;
    width: 345px;
    height: 145px;
    margin: 0px 30px 0px 40px;
}

.image_pop
{
    width: 125px;
    height: 135px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px 0px 0px 10px;
    margin: 5px 15px 5px 5px;
    float: left;
}

.image_pop img
{
    display: none;
}

.info_pop
{
    margin-top: 15px;
}

.info_pop h2
{
    font-size: 1.05em;
    font-weight: bold;
    color: black;
}

.info_pop p
{
    font-size: 0.85em;
}

.info_pop i
{
    font-size: 0.75em;
}

/* section: activités */

#activiter h1
{
    margin: 60px 50px -20px 50px;
}

#activiter_placement
{
    display: flex;
    justify-content: space-between;
    margin: 0px  30px;
}

#activiter article
{
    margin: 40px 20px;
    box-shadow: 0px 5px 20px #f2f2f2;
    background-color: white;
}

#premiere, #quatrieme
{
    width: 300px;
    height: 445px;
    border-radius: 20px;
}

.premiere_image, .quatrieme_image
{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#deuxieme
{
    width: 300px;
    height: 235px;
    border-radius: 20px;
}

.deuxieme_image
{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#troisieme
{
    width: 300px;
    height: 165px;
    border-radius: 20px;
}

.troisieme_image
{
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#cinquieme
{
    width: 300px;
    height: 195px;
    border-radius: 20px;
}

.cinquieme_image
{
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#sixieme
{
    width: 300px;
    height: 210px;
    border-radius: 20px;
}

.sixieme_image
{
    width: 300px;
    height: 155px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#activiter h2
{
    font-size: 1em;
    font-weight: bold;
    margin-left: 20px;
}

/* footer */